<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @team.password_digest %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
