<p id="notice"><%= notice %></p>

<h1>Listing Line Cards</h1>

<table>
  <thead>
    <tr>
      <th>Card</th>
      <th>Team</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @line_cards.each do |line_card| %>
      <tr>
        <td><%= line_card.card_id %></td>
        <td><%= line_card.team_id %></td>
        <td><%= link_to 'Show', line_card %></td>
        <td><%= link_to 'Edit', edit_line_card_path(line_card) %></td>
        <td><%= link_to 'Destroy', line_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Line card', new_line_card_path %>
