<p id="notice"><%= notice %></p>

<p>
  <strong>Card:</strong>
  <%= @line_card.card_id %>
</p>

<p>
  <strong>Team:</strong>
  <%= @line_card.team_id %>
</p>

<%= link_to 'Edit', edit_line_card_path(@line_card) %> |
<%= link_to 'Back', line_cards_path %>
