<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "カード名" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :remaining_hour, "残り時間[h]" %><br />
    <%= f.number_field :remaining_hour %>
  </div>
  <div class="field">
    <%= f.label :own_player, "所有者" %><br />
    <%= f.text_field :own_player %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
