<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<h1>カード一覧</h1>

<table>
  <thead>
  <tr>
    <th>カード名</th>
    <th>残り時間(登録時点)[h]</th>
    <th>所有者</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @cards.each do |card| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= card.name %></td>
        <td><%= card.remaining_hour %></td>
        <td><%= card.own_player %></td>
        <td class="list_actions"><%= link_to 'Show', card %></td>
        <td class="list_actions"><%= link_to 'Edit', edit_card_path(card) %></td>
        <td class="list_actions"><%= link_to 'Destroy', card, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card', new_card_path %>
